@import "reset.css";
@import "header.css";

.homeContent{
    height: calc(100% - 152px);
    background-image: url(../assets/images/cover.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.homeContent div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36% 28px;
}
.homeContent__text{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 10px;
}
.homeContent__btn{
    background: var(--color-primary);
    padding: .5rem 1rem;
    font-weight: 600;
    border: 1px white solid;
    border-radius: 2px;
    margin-top: 3.5rem;
}
.homeContent__btn:hover{
    transform: scale(1.1);
}






/*media queries*/
@media (width >= 320px) {

}
@media (width >= 375px) {

}
@media (width >= 425px) {

}
@media (width >= 768px) {

}
@media (width >= 1024px) {

}
@media (width >= 1440px) {

}
@media (width >= 2560px) {

}