:root{

}
*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
a{
    display: block;
}
p a{
    display: inline;
}
li{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, em{
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
    line-height: calc(1em + 0.5rem);
}
::selection{
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
form, input, textarea, select, button, label{
    font-family: inherit;
    font: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
    appearance: none;
}

svg{
    width: 100%;
    display: block;
    fill: currentColor;
}
body{
    min-height: 100dvb;
    font-size: 100%;
    font-family: var(--tipo-principal);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*media queries*/
@media (width >= 320px) {

}
@media (width >= 375px) {

}
@media (width >= 425px) {

}
@media (width >= 768px) {

}
@media (width >= 1024px) {

}
@media (width >= 1440px) {

}
@media (width >= 2560px) {

}