@import "reset.css";
@import "header.css";
@import "footer.css";

.porfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}
.porfile__presentation {
    width: 100%;
    background: #e6e9ed;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    row-gap: 1rem;
}
.porfile-presentation__img {
    width: 100%;
}
.porfile-presentation__info {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    align-items: center;
    padding-bottom: 1rem;
}
.porfile-presentation__img img{
    width: 100%;
}

.porfile-presentation__title, .porfile-project__title {
    width: 100%;
    text-align: center;
    font-size: clamp(1.25rem, 0.893rem + 0.952vw, 1.75rem);
    font-weight: 900;
}
.porfile-presentation__txt, .porfile-project__txt {
    text-align: center;
    font-weight: 300;
    font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
}
hr {
    width: 100%;
    height: 0.5px;
    background: #00000021;
}
.porfile__projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    row-gap: 1rem;
}
.porfile-projects__title {
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    font-weight: 600;
}
.porfile-projects__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
    gap: 1.5rem;
}
.porfile-projects__project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding-bottom: 1rem;

}

.blogPost__info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    padding: 1rem;
    row-gap: 1rem;
    background: #e6e9ed;
}
.blogPost__contact, .blogPost__write {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blogPost-contact__img, .blogPost-write__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
figure.blogPost-contact__img img, .blogPost-write__img img{
    width: 70%;
}
.blogPost-contact__path ,.blogPost--write__path {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline
}
.blogPost-contact__text,.blogPost--write__text {
    font-weight: 300;
    font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
}


@media (width >= 320px) {

}
@media (width >= 375px) {

}
@media (width >= 425px) {
}

@media (width >= 768px) {
    .porfile__presentation {
        padding: 2rem 6rem;
        column-gap: 2rem;
        grid-template-columns: 1.5fr 2fr;

    }

    .socialNetworks {
        column-gap: 2.5rem;
    }
    .header__nav {
    }
    .porfile-presentation__title, .porfile-project__title {
        text-align: start;
    }
    .porfile-presentation__txt, .porfile-project__txt {
        text-align: start;
    }
    .porfile__projects {
        padding: 2rem 6rem;
    }
    .blogPost__info {
        padding: 2rem 6rem;
    }
    figure.blogPost-contact__img img, .blogPost-write__img img {
        width: 36%;
    }
}
@media (width >= 1024px) {
    .porfile__presentation {
        padding: 2rem 10rem;
    }
    .porfile__projects {
        padding: 2rem 10rem;
    }
    .blogPost__info {
        padding: 2rem 10rem;
    }
}
@media (width >= 1440px) {

}
@media (width >= 2560px) {

}


